{% extends "base.html" %}

{% block title %} Pradinis / Naujas užsakymas {% endblock %}

<body>
    {% block header %}
        <h2> Duomenų įvedimas</h2>
    {% endblock %}

    <main class="main">
        {% block content %}
        <h2>Kliento įvedimas</h2>
        <form  method="post">
                {% csrf_token %}
                {{ customer_form.as_p }}
                <button type="submit" name="save_customer">Išsaugoti klientą</button>
            </form>


        <h2>Užsakymo įvedimas</h2>
        <form method="post">
            {% csrf_token %}
            {{ order_form.as_p }}
            <button type="submit" name="save_order">Išsaugoti užsakymą</button>
        </form>

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Form has errors:</strong>
                <ul>
                    {% for field_errors in form.errors.values %}
                        {% for error in field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endblock %}
    </main>

    {% block javascript %}
        <script>
            window.onload = function () {
                document.getElementById("id_order_date").setAttribute("type", "date");
                document.getElementById("id_order_time").setAttribute("type", "time");
            }
        </script>
    {% endblock %}
</body>

