
{% extends "base.html" %}

{% block title %} Užsakymo ištrynimas {% endblock %}
<body>
    {% block header %}
        <h2> Užsakymo redagavimas</h2>
        <h3>Keisti užsakymą #{{ order_id }}</h3>
    {% endblock %}
    <main>
        {% block content %}
            <form method="post">
                {% csrf_token %}
                {{ customer_form.as_p }}
                {{ order_form.as_p }}
                <button type="submit">Keisti</button>
            </form>
        {% endblock %}
    </main>
</body>
