{% extends "base.html" %}

{% block title %} Užsakymų sąrašas {% endblock %}

{% block head %} <meta http-equiv="refresh" content="30"> {% endblock %}
<body>
       {% block header %}
            <h2> Užsakymų sąrašas</h2>
        {% endblock %}
        <main>
            {% block content %}
                <table class="table table-hover">
                    <tr>
                        <th scope="col">Užsakymo numeris</th>
                        <th scope="col">Užsakymo data</th>
                        <th scope="col">Užsakymo laikas</th>
                        <th scope="col">Kliento vardas</th>
                        <th scope="col">Kliento pavardė</th>
                        <th scope="col">Kliento telefono numeris</th>
                        <th scope="col">Kliento el. paštas</th>
                        <th scope="col">Užsakymo suma</th>
                        <th scope="col">Užsakymo statusas</th>
                        <th scope="col">Laiško siuntimas</th>
                        <th scope="col">Redaguoti</th>
                        <th scope="col">Ištrinti</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.order_time }}</td>
                        <td>{{ order.customer.customer_name }}</td>
                        <td>{{ order.customer.customer_surname }}</td>
                        <td>{{ order.customer.customer_phone }}</td>
                        <td>{{ order.customer.customer_email }}</td>
                        <td>{{ order.order_total }}</td>
                        {% if order.order_status == 'Priimtas' %}
                        <td class = "bg-success">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Atšauktas' %}
                        <td class = "bg-danger">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Vykdomas' %}
                        <td class = "bg-warning">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Atliktas' %}
                        <td style="background:yellow">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Atliktas' %}
                        <td style="background:#9CEA74">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Pranešimas išsiųstas' %}
                        <td style="background:#5C80C8">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Apmokėtas' %}
                        <td style="background:#C85CB8">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Atsiimtas' %}
                        <td style="background:#D4BB8D">{{ order.order_status }}</td>
                        {% elif order.order_status == 'Užbaigtas' %}
                        <td style="color:red;background:#D4BB8D">{{ order.order_status }}</td>
                        {% else %}
                        <td>{{ order.order_status }}</td>
                        {% endif %}
                        <td><a href="{% url 'send_email' order.order_id %}">Laiško siuntimas</a></td>
                        <td><a href="{% url 'order_edit' order.order_id %}">Redaguoti</a></td>
                        <td><a href="{% url 'order_delete' order.order_id %}">Ištrinti</a></td>
                    <tr>
                    {% endfor %}
                </table>
                <h4 style="color:red"> DĖMESIO!!! - ištrynus užsakymą ištrinamas ir klientas </h4>
            {% endblock %}
        </main>
</body>
