<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sėkmingai pateikti duomenys</title>
</head>

<body style="background: #FFF779">
<h2>Duomenys išsiųsti!</h2>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <a class="navbar-brand" href="">Meniu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item text-light">
                    <a class="nav-link" href="{% url 'order_list' %}">Užsakymų sąrašas</a>
                </li>
                <li class="nav-item text-light">
                    <a class="nav-link" href="{% url 'customer_list' %}">Klientų sąrašas</a>
                </li>
                <li class="nav-item text-light">
                    <a class="nav-link" href="{% url 'order_form' %}">Naujas užsakymas</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>