{% extends "base.html" %}

{% block title %} Klientų sąrašas {% endblock %}

{% block head %} <meta http-equiv="refresh" content="30"> {% endblock %}
<body>
       {% block header %}
            <h2> Klientų sąrašas</h2>
        {% endblock %}
    <main>
        {% block content %}
            <table class="table table-hover">
                <tr>
                    <th scope="col">Kliento ID</th>
                    <th scope="col">Kliento vardas</th>
                    <th scope="col">Kliento pavardė</th>
                    <th scope="col">Kliento telefono numeris</th>
                    <th scope="col">Kliento el. paštas</th>
                    <th scope="col">Kliento adresas</th>
                    <th scope="col">Kliento miestas</th>
                    <th scope="col">Kliento pašto kodas</th>
                    <th scope="col">Pastabos</th>
                    <th scope="col">Ištrinti</th>
                </tr>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.customer_id }}</td>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.customer_surname }}</td>
                    <td>{{ customer.customer_phone }}</td>
                    <td>{{ customer.customer_email }}</td>
                    <td>{{ customer.customer_address }}</td>
                    <td>{{ customer.customer_city }}</td>
                    <td>{{ customer.customer_postcode }}</td>
                    <td>{{ customer.customer_notes }}</td>
                    <td><a href="{% url 'customer_delete' customer.customer_id %}">Ištrinti</a></td>
                </tr>
                {% endfor %}
            </table>
            <h4 style="color:red"> DĖMESIO!!! - ištrynus klientą ištrinami ir visi jo užsakymai</h4>
        {% endblock %}
    </main>
</body>
