<!DOCTYPE html>
<html lang="lt">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
    <div style="width:100%; background: white" >
    <img src="../../static/images/logo_jpro.png">
    </div>
</head>
<body style="background: #FFF779">

<div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 100px;">
    <form method="post">
        {% csrf_token %}
        <label  for="username">Vartotojo vardas:</label>
        <br>
        <input  type="text" name="username" id="username">
        <br>
        <label for="password">Slaptažodis:</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <button type="submit">Prisijungti</button>
    </form>


    <footer class="footer" style="margin-top: 60px;">
            <p>
                &copy; jPRO 2023 Visos teisės saugomos.
            </p>
    </footer>
</div>


</body>
</html>