<!DOCTYPE html>
<html lang="lt">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background: #FFF779">
<div>
    <img src="../../static/images/logo_jpro.png">
</div>
<div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 100px;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Prisijungti</button>
    </form>
    <footer class="footer" style="margin-top: 60px;">
            <p>
                &copy; 2023 jPRO. All rights reserved.
            </p>
    </footer>
</div>


</body>
</html>